@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-primary: var(--font-inter);
  --font-secondary: var(--font-roboto);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-secondary); /* Roboto */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*----- Font----- */
.primaryFont {
  font-family: var(--font-primary);
}
.secondaryFont {
  font-family: var(--font-secondary);
}
/* ----- End ----- */

/* ---- Main Container ----- */
.container {
  max-width: 1300px;
  height: 100vh;
  margin: auto;
  padding: 5px;
}

.title {
  font-family: var(--font-primary);
  font-size: 64px;
  font-weight: 800;
  line-height: 64px;
}
.titleHeader {
  font-family: var(--font-primary);
  font-weight: 800;
}

/* ----- End ----- */
